{% extends "app/index.html" %}
{% load staticfiles %}

{% block content %}
            <div class="col-sm-12 col-md-12 col-lg-12" style="color:red">
                under construction
                Be honest with yourself. If your parents’ opinion of you matters more to you than your dream, and for some people it does, then go with what your parents want, you’ll be happier.

“All my friends (blank) but I want to (blank), what should I do?”

Depends on whether your value your friends opinions more than your own. There are real cost for going against the herd, if you can’t handle it, then do what they do.

Most people don’t pursue their dreams because they are afraid of looking uncool. It’s not because they are afraid they will starve; it’s because they are afraid they will have to eat alone.

When you have a high capacity for shame - you can act freely. You can be your authentic self.   
        </div>
    </div>
{% endblock %}