
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Empire Travel Services :: Visa</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Travels, flight, tours" />
    <meta name="description" content="Empire Travels and Tour Services">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- css styles -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <link href="styles/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="asset/font-awesome/css/font-awesome.min.css">
    <link href="styles/layout.css" rel="stylesheet">
    <link href="styles/responsive.css" rel="stylesheet">
    <link href="styles/user_change.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]> <script src="js/html5.js"></script> <![endif]-->
   <link rel="shortcut icon" href="images/favicon.png">
</head>
<body onload = "initialize()">
    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="dropdownMenus clearfix">
                    </div><!-- /clearfix -->
                    <div class="callUsTop">
                        <div id="logo"><a href="#" title="Travel Booking"><img src="images/logo.png" alt="Travel Booking" /></a></div>
                    </div><!-- / -->
                </div><!-- /col -->
                <div class="col-sm-7">
                    <div class="col-sm-8">
                        <span>Tel: <a href="tel:2348053281901" title="(234)-8053281901">(234)-8053281901</a>, <a href="tel:2348023091703" title="(234)-8023091703">(234)-8023091703</a>, <a href="tel:2348185189311" title="(234)-8185189311">(234)-8185189311</a></span>
                        <div class="topmenu clearfix">
                        </div><!-- /clearfix -->
                    </div><!-- /col -->
                    <div class="col-sm-4 clearfix">
                        <div class="fRight">
                            <div class="clearfix">
                                <a href="./login.php">Login</a> &nbsp; | &nbsp;
                                <a href="http://www.empiretravelkano.com.ng/webmail" target="_blank">WebMail</a>
                            </div>
                            <div class="social clearfix">
                                <ul>
                                    <li><a class="twitter" href="#">Twitter</a></li>
                                    <li><a class="facebook" href="#">Facebook</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- MAIN MENU -->
    <div class="mainMenuContainer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mainMenu clearfix">
                        <em class="mobDropdown"></em>
                        <ul>
                            <li><a href="./index.php" title="Home">Home</a></li>
                            <li>
                                <a href="#" title="Company">Company</a>
                                <ul>
                                    <li><a href="./about.php">About Us</a></li>
                                    <li><a href="./profile.php">Company Profile</a></li>
                                </ul>
                            </li>
                            <li><a href="./booking.php" title="Flight/Hotel Booking">Flight/Hotel Booking</a></li>
                            <li><a href="./training.php" title="Training">Training</a></li>
                            <li><a href="./package.php" title="Travel Packages">Packages</a></li>
                            <li><a href="./visa.php" title="Visa">Visa</a></li>
                            <li><a href="./insurance.php" title="Insurance">Insurance</a></li>
                            <li><a href="./contact.php" title="Contact Us">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    <!-- MAIN CONTENT -->
    <div class="gap gap-mini"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <!-- WELCOME  -->
                <div class="row">
                    <div class="innerTitle"><h2> <span>VISA!</span></h2></div>
                    <div class="featuredOffers offers">
                                            </div>
                </div>
            </div>
            <div class="col-sm-4">
               <!-- LATEST NEWS -->
<div class="innerTitle"><h2>LATEST <span>NEWS</span></h2></div>
<div class="newsList">                     
            <div class="alert alert-danger">Sorry! There are no News record available yet.</div>
          
</div>                             </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div id="footer">
        <div class="footerTop">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h5><span>EMPIRE TRAVEL SERVICES LIMITED</span></h5>
                        <p>No. 3, Bompai Road, Opposite Central Hotel,</p>
                        <p>P.O.Box 12813, Kano, 700001, Kano State, Nigeria</p>
                        <p>Tel: <a href="tel:2348053281901" title="(234)-8053281901">(234)-8053281901</a>, <a href="tel:2348023091703" title="(234)-8023091703">(234)-8023091703</a>, <a href="tel:2348185189311" title="(234)-8185189311">(234)-8185189311</a></p>
                        <p>Email: <a href="mailto:empiretravelkano@yahoo.com" title="Email us">empiretravelkano@yahoo.com</a></p>
                        <p>Email: <a href="mailto:empiretravelkano@hotmail.com" title="Email us">empiretravelkano@hotmail.com</a></p>
                        <p>Web:  www.empiretravelkano.com.ng</p>
                    </div>
                    <div class="col-md-4 text-center"  >
                    <p><img src="images/iata.png" alt="IATA"> </p>
                    </div>
                    <div class="col-sm-4">
                        <h5>Customer <span>Support</span></h5>
                        <div class="footerLinkList">
                            <ul>
                                <li><a href="./faq.php" title="FAQ">FAQ</a></li>
                                <li><a href="#" title="Payment Option">Payment Option</a></li>
                                <li><a href="#" title="Booking Tips">Booking Tips</a></li>
                                <li><a href="#" title="Infomation">Infomation</a></li>
                            </ul>
                        </div><!-- /footerLinkList -->
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /footerTop -->
        <div class="footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footerMenu clearfix">
                            <ul>
                                <li><a href="./index.php" title="Home">Home</a></li>
                                <li><a href="./about.php" title="About Us">About Us</a></li>
                                <li><a href="./package.php" title="Packages">Packages</a></li>
                                <li><a href="./visa.php" title="Visa">Visa</a></li>
                                <li><a href="./insurance.php" title="Insurance">Insurance</a></li>
                                <li><a href="./contact.php" title="Contact Us">Contact Us</a></li>
                            </ul>
                        </div><!-- /footerMenu -->
                    </div>
                    <div class="col-sm-6">
                        <div class="copy">Copyright &copy; 2018  Empire Travel Services Ltd. &nbsp; All rights reseved.</div><!-- /copy -->
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /footerBottom -->
    </div><!-- /footer -->     
    <!-- JAVASRICPTS
    ================================================== -->
   <!-- <script src="js/jquery-1.8.2.min.js"></script> -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script src="js/jquery-tinyNav.js"></script>
    <script src="js/easyResponsiveTabs.js"></script>
    <script src="js/jquery-validation.js"></script>
    <script src="js/jquery.datepick.min.js"></script>
    <script src="js/jquery.customSelect.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.simplemodal.js"></script>
    <script src="js/jRating.jquery.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAEQ6Bx3nCSj5lig84o8-j6lZtKvXrhyHM&sensor=false"></script>
    <script type="text/javascript" src="js/map.js"></script>
    <script src="js/jquery.screwdefaultbuttonsV2.min.js"></script>
    <script src="js/jquery-hoverIntent.js"></script>
    <script src="js/global.js"></script>

</body>
</html>